*{
    box-sizing: border-box;
}
html{
font-size: 62.5%;
}
body{
    height: 60vh;
    font: 1.6rem H elvetica,arial;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: #f08040;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'nav'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1rem 1fr 5rem;
    height: 100%;
}
header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
header a{
    color:#ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem; 
}
header a:hover{
   color:#f08040;
}
.brand a{
    font-size: 2.6rem;
    width: 18vw;
}
footer{
    background-color: #203040;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.searchbox input{
    font-family: "roboto",sans-serif;
    outline: 0.5;
    background: #f2f2f2 ;
    width: 268%;
    border: 2px;
    margin: 4px 0 4px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 12px;
    float: left;
} 
.navbar{
    background-color: #152468;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 3rem;
}
nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    color:#f08040;
 }
 .btnsearch{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#ff9900;
    width: 4.5%;
    border: 0;
    margin: 6.5px 0px 6.5px;
    padding: 7px 4px;
    color: #ffffff;
    font-size: 11px;
    cursor: pointer;
    align-content: center;
 }
 .signin a{
     margin: 4px;
 }
 


/*products section */
.products ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* width: 32vw; */
    justify-content: center;
}
.products li {
    flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 42rem;
    list-style-type: none;
     /* border-top: 0.2rem #e0e0e0 solid; */
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.products img {
    max-height: 26rem;
    max-width: 22rem;
    margin-top: 2rem;
}
.product-name{
    line-height: 2.2rem;
}
.product-brand{
    font-size: 1.2rem;
    color: #808080;
}
.product-price{
   font-size: 2rem;
}